@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .5s linear;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h2:hover{ font-size: 3.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgb(225, 255, 0); }

header{
    background-color: rgb(145, 39, 39);
}

header .logo{
    padding: 5px 30px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover{
    font-size: 1.25em;
}

#errorLinux .container{
    text-align: center;
    padding: 200px 12px;
}

#errorLinux .img-container{
    background-image: url("/img/imagenAyuda.png");
    background-size: cover;
    background-position: center center;
    height: 637px;
    width: 610px; 
}

#errorLinux .img-container:hover{
    height: 650px;
    width: 610px; 
    transition:all .1s linear;
}

#errorLinux .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



footer{
    background-color: rgb(145, 39, 39);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
}

.redessociales{
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 16px;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #errorLinux .container{
        display: flex;
        justify-content: space-evenly;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-items: center;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {
    footer .container{
        justify-items: center;
        justify-content: space-around;
    }
}